/* Move down content because we have a fixed navbar that is 50px tall */
.caption-usr {
  color: #0f0;
  background-color: #222;
  padding-right: 5px;
}
.caption-sys {
  color: #ff0;
  background-color: #222;
  padding-right: 5px;
}
.caption-iowait {
  color: #f0f;
  background-color: #222;
  padding-right: 5px;
}
.caption-irq {
  color: #0ff;
  background-color: #222;
  padding-right: 5px;
}
